body
{
	background-color: #E8E8E9; /* the grey background */
}
h1
{
	color:#173136; /* some black */
	text-align: left;
	font-family: Helvetica Neue, sans-serif;
	font-size: 16px;
}
inputtitle[type=text]
{
	border: 2px soild #707070; /*some dral grey*/
	border-radius: 8px;
	background-color: #F7F7F8; /* some white*/
	color: #173136; /*some black*/
	width: 100%;
	padding: 20px;
	resize:none;
	margin: 25px;
}
inputdescription[type=text]
{
	border: 2px soild #707070; /*some dral grey*/
	border-radius: 8px;
	background-color: #F7F7F8; /* some white*/
	color: #173136; /*some black*/
	width: 100%;
	heigt: 150px;
	padding: 20px;
	resize:none;
	margin: 25px;
}
h2
{
	color:#173136; /* some black */
	text-align: left;
	font-family: Helvetica Neue, sans-serif;
	font-size: 16px;
}
inputMemberName[type=text]
{
	border: 2px soild #707070; /*some dral grey*/
	border-radius: 8px;
	background-color: #F7F7F8; /* some white */
	backgroud-image: url('');
	background-position: 10px 10px right;
	color: #173136; /*some black*/
	width: 100%;
	padding: 20px;
	resize:none;
	margin: 25px;
}
.CreateGroup
{
	background-color: #2B6F9A; /* some blue */
	border: 1px soild #707070; /* some black */
	border-radius: 10px;
	color: #FFFFFF; /* some white */
	padding: 15px 35px;
	text-align:left;
	font-family: Helvetica Neue, sans-serif;
	font-size: 16px;
	transition-duration: 0.4s;
}
img
{
	border: 1px solid #707070;
	border-radius: 50%;
	padding: 5px;
	width: 150px;
}
